# CODECADEMY WALKTHROUGH: BIODIVERSITY IN NATIONAL PARKS

This is the data analysis project for Codecademy's Data Science career path.

## Import statements

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

## Load data
Load CSV files and assign them to pandas dataframes.

In [11]:
# Import infos on species
s_info_df = pd.read_csv('species_info.csv')
display(s_info_df.head().style.set_caption('Infos on Species'))

# Import infos on species
obs_df = pd.read_csv('observations.csv')
display(obs_df.head().style.set_caption('Observations in National Parks'))